= form_for @attendee do |f|
  -if @attendee.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attendee.errors.count, "error")} prohibited this attendee from being saved:"
      %ul
        - @attendee.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :child_name
    = f.text_field :child_name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :age
    = f.number_field :age
  .field
    = f.label :birth_date
    = f.text_field :birth_date
  .field
    = f.label :grade
    = f.text_field :grade
  .field
    = f.label :parent_first_name
    = f.text_field :parent_first_name
  .field
    = f.label :parent_last_name
    = f.text_field :parent_last_name
  .field
    = f.label :parent_email
    = f.text_field :parent_email
  .field
    = f.label :parent_phone_home
    = f.text_field :parent_phone_home
  .field
    = f.label :parent_phone_cell
    = f.text_field :parent_phone_cell
  .field
    = f.label :parent_phone_work
    = f.text_field :parent_phone_work
  .field
    = f.label :willing_to_assist
    = f.text_field :willing_to_assist
  .field
    = f.label :emergency_contact_name1
    = f.text_field :emergency_contact_name1
  .field
    = f.label :emergency_contact_phone1
    = f.text_field :emergency_contact_phone1
  .field
    = f.label :emergency_contact_name2
    = f.text_field :emergency_contact_name2
  .field
    = f.label :emergency_contact_phone2
    = f.text_field :emergency_contact_phone2
  .field
    = f.label :pickup_name1
    = f.text_field :pickup_name1
  .field
    = f.label :pickup_relationship1
    = f.text_field :pickup_relationship1
  .field
    = f.label :pickup_name2
    = f.text_field :pickup_name2
  .field
    = f.label :pickup_relationship2
    = f.text_field :pickup_relationship2
  .field
    = f.label :pickup_name3
    = f.text_field :pickup_name3
  .field
    = f.label :pickup_relationship3
    = f.text_field :pickup_relationship3
  .field
    = f.label :other, 'Allergies / Medical information / Food needs / Other concerns:'
  .field
    = f.text_area :other
  .actions
    = f.submit 'Save'
