%p#notice= notice

%p
  %b Child's name:
  = @attendee.child_name
%p
  %b Address:
  = @attendee.address
%p
  %b Age:
  = @attendee.age
%p
  %b Birthday:
  = @attendee.birth_date

%p
  %b Grade this fall:
  = @attendee.grade
%p
  %b Parent first name:
  = @attendee.parent_first_name
%p
  %b Parent last name:
  = @attendee.parent_last_name
%p
  %b Parent email:
  = @attendee.parent_email
%p
  %b Parent home phone:
  = @attendee.parent_phone_home
%p
  %b Parent cell phone:
  = @attendee.parent_phone_cell
%p
  %b Parent work phone:
  = @attendee.parent_phone_work
%p
  %b Am I willing to assist?
  = @attendee.willing_to_assist
%p
  %b Emergency Contact/Phone:
  = "#{@attendee.emergency_contact_name1}/#{@attendee.emergency_contact_phone1}"
%p
  %b Emergency Contact/Phone:
  = "#{@attendee.emergency_contact_name2}/#{@attendee.emergency_contact_phone2}"
%p
  %b Pickup Name/Relationship:
  = "#{@attendee.pickup_name1}/#{@attendee.pickup_relationship1}"
%p
  %b Pickup Name/Relationship:
  = "#{@attendee.pickup_name2}/#{@attendee.pickup_relationship2}"
%p
  %b Allergies/Medical information/Food Needs/Other Concerns:
  = @attendee.other

= (@user ? link_to('Edit', edit_attendee_path(@attendee)) : link_to('Register another child', new_attendee_path))
\|
= (@user ? link_to('Back', attendees_path) : '')
