%h1 Spring Hill First Presbyterian VBS 2012 Registration
%p#notice= notice

%p
  %strong Basic Information
%p
  Child's name:
  %u= @attendee.child_name
%p
  Address:
  %u= @attendee.address
%p
  Age:
  %u= @attendee.age
  Birth date:
  %u= @attendee.birth_date
  School Grade This Comming Fall:
  %u= @attendee.grade
%p
  %strong Parent's Information
%p
  Parent's name:
  %u= "#{@attendee.parent_first_name} #{@attendee.parent_last_name}"
%p
  Parent's phone: (Home)
  %u= @attendee.parent_phone_home
  (Work)
  %u= @attendee.parent_phone_cell
  (Cell)
  %u= @attendee.parent_phone_work
%p
  Parent email:
  %u= @attendee.parent_email
%p
  Am I willing to assist?
  %u= @attendee.willing_to_assist
%p
  %strong Emergency Contacts:
%p
  Name:
  %u= @attendee.emergency_contact_name1
  Phone:
  %u= @attendee.emergency_contact_phone1
%p
  Name:
  %u= @attendee.emergency_contact_name2
  Phone:
  %u= @attendee.emergency_contact_phone2
%p
  %strong Names of persons with permission to pick up this child from VBS:
%p
  Name:
  %u= @attendee.pickup_name1
  Relationship:
  %u= @attendee.pickup_relationship1
%p
  Name:
  %u= @attendee.pickup_name2
  Relationship:
  %u= @attendee.pickup_relationship2
%p
  Name:
  %u= @attendee.pickup_name3
  Relationship:
  %u= @attendee.pickup_relationship3
%p
  %strong Allergies/Medical information/Food Needs/Other Concerns:
%p
  = @attendee.other

= (@user ? link_to('Edit', edit_attendee_path(@attendee)) : link_to('Register another child', new_attendee_path))
\|
= (@user ? link_to('Back', attendees_path) : '')
